.user-listing {
  padding: 10px 0 20px;
  height: 440px;
  overflow: auto;
}

.user-list {
  position: relative;
  padding: 10px 20px;
}

.user-list:hover {
  background: #f6f6f6
}

.user-list img {
  float: left;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.user-name {
  float: left;
  padding-left: 10px;
}

.user-name h4 {
  color: #00A1B0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0px;
}

.user-name span {
  color: #686868;
  font-size: 12px;
}

.user-list > span {
  position: absolute;
  top: 25px;
  right: 16px;
  background: #ffffff;
}

.user-list > span i {
  color: #b2b2b2;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  text-align: center;
  line-height: 18px;
}